%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%outline {
  outline: 1px solid tomato;
}

%container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

%link {
  &:hover,
  &:focus {
    color: $color-accent;
    cursor: pointer;
  }
}

%link-icon {
  fill: $color-accent;
}
%section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%section-title {
  color: $color-title-main;
}

/* цвет сопровождающего текста */
%section-text {
  color: $color-text-prime;
}

/* нижний отступ между сециями */
